<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imdevil.playground">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToyAndroid">
        <activity
            android:name="com.imdevil.playground.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.aidl.ClientActivity"
            android:exported="false" />

        <service
            android:name=".service.aidl.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name="com.imdevil.playground.service.LocalService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.imdevil.playground.service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".jsoup.AsianToLickActivity"
            android:exported="false" />
        <activity
            android:name="com.imdevil.playground.image.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".view.TouchActivity"
            android:exported="false" />
        <activity
            android:name="com.imdevil.playground.service.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.ContainerActivity"
            android:exported="true" />
        <activity
            android:name=".multirecyclerview.MultiRecyclerViewActivity"
            android:exported="false" />

        <service
            android:name=".media.MusicService"
            android:enabled="true"
            android:exported="true"
            android:process=":player"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:name=".media.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".view.multistate.MultiStateActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.ViewPager2Activity"
            android:exported="false" />

        <activity
            android:name=".fragment.BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation" />

        <activity
            android:name=".view.scroll.ScrollListActivity"
            android:exported="false" />
    </application>

</manifest>